<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "../styles/css/style.css">
    <title>BytePilote</title>
</head>
<body>
    <main>
        <div class = "content">
            <div class = "details">
                <div class = "details-topbar">
                    <a href = "./index.html">< Précédent</a>
                    <h1>Détails du processeur</h1>
                </div>
    
                <div class = "details-info">
                    <h2>Modèle : loading...</h2>
                    <h2>Fréquence : loading...</h2>
                </div>
            </div>
        </div>
        <nav>
            <ul>
                <a href = "#">    
                    <li>
                        <button class = "active">
                            <i class="ri-computer-line"></i> 
                            Overview
                        </button>
                    </li>
                </a>  

                <a href = "./sysSpecs.html">
                    <li>
                        <button>
                            <i class = "ri-eye-line"></i> 
                            Sys specs
                        </button>
                    </li>
                </a>    

                <a href = "./keyboard.html">
                    <li>
                        <button>
                            <i class = "ri-keyboard-box-line"></i> 
                            Keyboard
                        </button>
                    </li>
                </a>

                <a href = "./mouse.html">
                    <li>
                        <button>
                            <i class = "ri-mouse-line"></i> 
                            Mouse
                        </button>
                    </li>
                </a>

                <div class = "hz-separator"></div>
                <a href = "./settings.html">
                    <li>
                        <button style="bottom: 0; position:absolute; margin-bottom: 15px; border-top: 2px solid #36393e;">
                            <i class = "ri-settings-line"></i> 
                            Settings
                        </button>
                    </li>
                </a>
            </ul>
        </nav>
    </main>
</body>
</html>